div.hero-unit
  h1 #{config.name}
  p
  p
  p #{config.description}
  div.spacer

h1 Introduction
div.spacer
p The #{config.name} API handles the following operation through the following http methods:
ul
  li PUT
  li GET
  li POST
  li DELETE
p Each API call returns a JSON object with up to three parameters:
ol
  li status - "success"/"failure"
  li version - the API version number
  li error - an error message (on failed responses)
  li payload - the data requested (on successful responses)
div.spacer
      
hr